div.menu {
    display: block;
}
.menu {
    display: inline;
    text-transform: uppercase;
    background-color: #bbbbbb;
    padding: 10px;  
    position: absolute;
    top: 10px;
    left: 600px;
}
.menu a {
    display: inline;
    color: black;
    padding: 10px;
}
h2 {
    margin: 20px;
    font-size: 30px;
    margin-top: 30px;
}
ol {
    list-style: none;
    margin: 10px;
    font-size: 20px;
}