* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner {
    display: grid;
    background-color: #00001b;
    grid-template-rows: 80px 1fr 120px;
    grid-template-columns: 1fr;
}
header {
    background-color: rgb(0, 0, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    grid-column: 1/-1;
}
h2 {
    color: rgb(150, 150, 150);
}
.cabecalho-busca {
    display: flex;
    align-items: center;
}
.imagem-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin: 0 12px 0 12px;
}
#divBusca {
    display: flex;
}
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 64px;   
}
.video-pagina-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 6px darkgray;
}
.video {
    width: 100%;
}
p {
    color: rgb(150, 150, 150);
}
footer {
    background-color: rgb(0, 0, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    grid-column: 1/-1;
}
@media screen and (min-device-width : 375px) and (max-device-width : 667px) {
    header {
        padding: 0;
    }
    h2 {
        font-size: 20px;
    }
    main {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        height: 80%;
    }
}